---
layout: template.njk
permalink: comics/{{comic.slug}}/
pagination:
    data: comics
    size: 1
    alias: comic
eleventyComputed:
  date: {{comic.date}}
  title: "{{comic.title}}"
---

<div id="comic-card" class="vbox card">
    <div class="hbox header">
        <h3 id="comic-title">{{comic.title}}</h3>
        <div class="spacer"></div>
        <p id="comic-date" class="center">{{comic.date}}</p>
    </div>

    <div id="comic-content-container" class="center">
        {% if comic.image %}
            <img id="comic-content" class="center" src="{{site.url}}/comic-img/{{comic.image}}">
        {% elif comic.html %}
            <iframe id="comic-content" class="center" src="{{site.url}}/comic-html/{{comic.html}}"></iframe>
            <a class="center" href="{{site.url}}/comic-html/{{comic.html}}"> fullscreen </a>
        {% endif %}

        <p id="comic-hashtags">
            {% for tag in comic.hashtags %}
                #{{tag}}{{',' if not loop.last}}
            {% endfor %}
        </p>
    </div>

    <nav class="hbox center" aria-label="Comic Navigation">
            <!-- First page -->
            <a href="{{pagination.href.first}}" class="page-link">
                <i class="material-symbols-rounded">first_page</i>
            </a>

            <!-- Previous page -->
            <a href="{{pagination.href.previous if pagination.href.previous else ''}}" class="page-link">
                <span class="material-symbols-rounded">navigate_before</span>
            </a>

            <!-- Pages and ellipses -->
            <span class="material-symbols-rounded" aria-hidden="true">more_horiz</span>

            <!-- Next page -->
            <a href="{{pagination.href.next if pagination.href.next else ''}}" class="page-link">
                <span class="material-symbols-rounded">navigate_next</span>
            </a>

            <!-- Last page -->
            <a href="{{pagination.href.last}}" class="page-link">
                <span class="material-symbols-rounded">last_page</span>
            </a>
    </nav>
</div>